.chapter-page__without-header {
  margin-top: -71px;
}

.chapter-pages {
  display: block;
  cursor: pointer;
}
.chapter-page-item > img {
  width: 100%;
}
.hidden {
  display: none;
}

.chapter-comments {
  height: 1000px;
}
  
@media screen and (max-width: 480px) {
  .chapter-page {
    padding: 0;
  }
}