.item-page {
  display: block;
  cursor: pointer;
}
.item-page > img {
  width: 100%;
}
.hidden {
  display: none;
}

@media screen and (max-width: 480px) {
  main {
    padding: 0;
  }
  .items-page {
    padding: 0;
  }
}