:root {
  --dark: #111111;
  --dark-2: #1e1e1e;

  --background: var(--dark);
  --block: var(--dark-2);
  --text: #fff;
}

/* body[data-theme='light'] {
  --background: #e1e1e1;
  --block: #fff;
  --text: #000;
} */

a {
  color: var(--text);
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--background);
  font-family: 'Roboto Regular', sans-serif;
  color: var(--text);
}
.container {
  max-width: 1150px;
  min-width: 0px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;
}