header {
  background-color: var(--dark-2);
  color: #fff;
  width: 100%;
  height: 70px;
  position: fixed;
  align-items: center;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}



.header-logo {
  font-family: 'Roboto Medium', sans-serif;
  font-size: 18px;
  color: #fff;
}
.header-logo > span {
  color: orange;
}

#switcher {
  width: 25px;
  height: 25px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
#switcher > svg {
  width: 25px;
  color: #fff;
}




@media screen and (max-width: 900px) {
  .header {
    padding: 0 15px;
  }
}